body, h4{
  margin: 0;
}

.container{
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.button{
  background: red;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all .1s;
}

.button p{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}

.size-up{
  width: 600px;
  height: 600px;
}

.button p::selection{
  background: rgba(255, 0, 0, 0);
}

.score-board{
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 30px;
}

.footer{
  background: #eee;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
  top: 70%;
  padding: 10px 50px 40px 50px;
  border-radius: 20px;
}

.price{
  color: skyblue;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.price-alert{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  background: rgba(0, 0, 0, 0.5);
  transition: all .5s;
  visibility: hidden;
  opacity: 0;
}

.price-alert h1{
  text-align: center;
  color: white;
  padding-top: 50vh;
}


.plus{
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
  display: block;
  transform: translateY(-10px);
}

.click-per{
  position: absolute;
}

.show{
  visibility: visible;
  opacity: 1;
  transform: rotateX(0);
}